div(class='index-stratage')
  h2(class='partial-title') 智能硬件解决方案
  img(class='index-stratage__photo' src="/static/img/index/imge3.png")

  table(class='index-stratage__table')
    tr
      td
        img(src="/static/img/index/smart_gateway.svg")
        h4 智能网关
      td
        img(src="/static/img/index/environment_clean.svg")
        h4 环境净化
      td
        img(src="/static/img/index/kitchen_machine.svg")
        h4 厨房电器
      td
        img(src="/static/img/index/bathroom_machine.svg")
        h4 卫浴电器
      td
        img(src="/static/img/index/light.svg")
        h4 灯具照明
    tr
      td
        img(src="/static/img/index/home_security.svg")
        h4 居家安防
      td
        img(src="/static/img/index/switch.svg")
        h4 开关插座
      td
        img(src="/static/img/index/environment_checking.svg")
        h4 环境监测
      td
        img(src="/static/img/index/single_product.svg")
        h4 智能单品
      td
        img(src="/static/img/index/home_device.svg")
        h4 生活电器
