meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

title Eva Cloud

meta(name='description' content='Eva Cloud')

link(href='/static/css/main.css' rel='stylesheet')

//- nav links for topbar and footer
-
  var navitems = {
    '/': '首页',
    '/chanpinyufuwu.html': '产品与服务',
    '/zhinengjiejuefangan.html': '智能解决方案',
    '/zizhuyunweipingtai.html': '自助运维平台',
    '/lianxiwomen.html': '联系我们'
  }
