-
  var items = {
    '/': '首页',
    '/chanpinyufuwu.html': '产品与服务',
    '/zhinengjiejuefangan.html': '智能解决方案',
    '/zizhuyunweipingtai.html': '自助运维平台',
    '/lianxiwomen.html': '联系我们'
  }

nav(class='topbar navbar navbar-default')
  div(class='container')

    //- Brand and toggle get grouped for better mobile display
    div(class='navbar-header')
      img(class='navbar-brand' src='/static/img/logo.svg')

    div(class='collapse navbar-collapse')
      ul(class='nav navbar-nav')
        each item, path in items
          li(class = (path === current  && 'active'))
            a(href = path)= item

      div(class='navbar-right')
        a(class='btn btn-link topbar__login-btn') 登录
        a(class='btn topbar__register-btn') 立即注册
