div(class='product-cooperate')
  h2(class='partial-title') 当前支持的WIFI模块

  div(class='container')
    div(class='row')

      div(class='product-cooperate__cell')
        a(href="/static/files/DS0086CN_EMW3060_V1.4.pdf" ) DS0086CN_EMW3060_V1.4

      div(class='product-cooperate__cell')
        a(href="/static/files/EMW100规格书-庆科-20170823.pdf" ) EMW100规格书-庆科-20170823

      div(class='product-cooperate__cell')
        a(href="/static/files/EMW111规格书-庆科-20170820.pdf" ) EMW111规格书-庆科-20170820

      div(class='product-cooperate__cell')
        a(href="/static/files/VBS100规格书-庆科-20170910.pdf" ) VBS100规格书-庆科-20170910

      div(class='product-cooperate__cell')
        a(href="/static/files/SSV6060P_datasheet_v0p4_20151102.pdf" ) SSV6060P_datasheet_v0p4_20151102

