.product-operation
  .partial-title 运营中心

  .container
    .row

      img(src="/static/img/product/imge1.png")

      .product-operation__pills
        .product-operation__pill 专属后台
        .product-operation__pill 数据管理
        .product-operation__pill 快速开发
