.product-ops
  .partial-title 运营中心

  .container
    .row

      img(src="/static/img/product/imge1.png")

      .product-ops__pills
        .product-ops__pill 专属后台
        .product-ops__pill 数据管理
        .product-ops__pill 快速开发
