doctype html
html
  - var current = '/chanpinyufuwu.html'

  include partials/common/head.pug
  body(lang='zh-hans')
    include partials/common/topbar.pug

    include partials/chanpin/jumbotron.pug
    include partials/chanpin/app.pug

    include partials/common/footer.pug
