doctype html
html(lang="zh")
  - var current = '/operation.html'

  include partials/common/head.pug
  body
    include partials/common/topbar.pug

    include partials/operation/jumbotron.pug
    include partials/operation/data.pug
    include partials/operation/infrastructure.pug
    include partials/index/cooperate.pug

    include partials/common/footer.pug
