a,
btn {
  transition: all 0.35s;
  color: $yellow;

  &:hover,
  &:focus {
    color: $yellow;
  }
}

.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: $yellow;
  border-color: $yellow;
}

.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  border-radius: 300px;
}

.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}

.btn-outline--primary {
  color: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}